aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
altgraph @ file:///AppleInternal/Library/BuildRoots/4~CDlvugAeMYaHcTWIELyAQ2joHAecmlI0GAlKPsw/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
amqp==5.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.10.0
appdirs==1.4.4
async-timeout==5.0.1
asyncssh==2.21.1
atpublic==6.0.2
attrs==25.4.0
billiard==4.2.4
celery==5.6.2
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
configobj==5.0.9
contourpy==1.3.0
cryptography==43.0.3
cycler==0.12.1
dictdiffer==0.9.0
diskcache==5.6.3
distro==1.9.0
dpath==2.2.0
dulwich==0.24.10
dvc==3.66.1
dvc-data==3.18.2
dvc-gdrive==3.0.1
dvc-http==2.32.0
dvc-objects==5.2.0
dvc-render==1.0.2
dvc-studio-client==0.22.0
dvc-task==0.40.2
entrypoints==0.4
exceptiongroup==1.3.0
filelock==3.19.1
flatten-dict==0.4.2
flufl.lock==8.2.0
fonttools==4.60.2
frozenlist==1.8.0
fsspec==2025.10.0
funcy==2.0
future @ file:///AppleInternal/Library/BuildRoots/4~CDlvugAeMYaHcTWIELyAQ2joHAecmlI0GAlKPsw/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gitdb==4.0.12
GitPython==3.1.46
google-api-core==2.29.0
google-api-python-client==2.188.0
google-auth==2.47.0
google-auth-httplib2==0.3.0
googleapis-common-protos==1.72.0
grandalf==0.8
gto==1.9.0
h11==0.16.0
httplib2==0.31.1
httptools==0.6.4
hydra-core==1.3.2
-e git+ssh://git@github.com/iLuigi98/ibm-fraud-capstone.git@fc925b1485b74c1eb71193b62e4dfefcb9933b99#egg=ibm_fraud_capstone
idna==3.10
importlib_resources==6.5.2
iterative-telemetry==0.0.10
joblib==1.5.2
kiwisolver==1.4.7
kombu==5.6.2
lightgbm==4.6.0
macholib @ file:///AppleInternal/Library/BuildRoots/4~CDlvugAeMYaHcTWIELyAQ2joHAecmlI0GAlKPsw/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
markdown-it-py==3.0.0
matplotlib==3.9.4
mdurl==0.1.2
multidict==6.7.0
networkx==3.2.1
numpy==2.0.2
oauth2client==4.1.3
omegaconf==2.3.0
orjson==3.11.5
packaging==25.0
pandas==2.3.3
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.4.0
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.0
protobuf==6.33.4
psutil==7.2.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.11.0
pydantic_core==2.41.5
pydot==4.0.1
PyDrive2==1.21.3
pygit2==1.15.1
Pygments==2.19.2
pygtrie==2.5.0
pyOpenSSL==24.2.1
pyparsing==3.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.5
rich==14.2.0
rsa==4.9.1
ruamel.yaml==0.19.1
scikit-learn==1.6.1
scipy==1.13.1
scmrepo==3.6.1
semver==3.0.4
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.8.0
six @ file:///AppleInternal/Library/BuildRoots/4~CDlvugAeMYaHcTWIELyAQ2joHAecmlI0GAlKPsw/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
smmap==5.0.2
sniffio==1.3.1
sqltrie==0.11.2
tabulate==0.9.0
threadpoolctl==3.6.0
tomlkit==0.14.0
tqdm==4.67.1
typer==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.35.0
uvloop==0.21.0
vine==5.1.0
voluptuous==0.16.0
watchfiles==1.1.0
wcwidth==0.2.14
websockets==15.0.1
xgboost==2.1.4
yarl==1.22.0
zc.lockfile==4.0
zipp==3.23.0
